streamlit
streamlit-option-menu
streamlit-tags

pandas
numpy
shapely
tqdm

plotly

torch
chromadb
langchain
langchain-community
langchain-chroma
langchain-huggingface

transformers
sentence-transformers
ollama-python

google-cloud-storage
