streamlit
streamlit-option-menu
streamlit-tags

pandas
numpy
shapely
tqdm

chromadb
langchain
langchain-community
langchain-chroma
langchain-huggingface

torch
transformers
sentence-transformers
ollama
